.outline
{
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px rgb(196, 196, 196) solid;
    padding-top: 15px;
    min-height: 50px;
    padding-left: 10px;
  }
  
  .follow-us {
    display: flex;
    align-items: center;
  }
  
  .follow-us p {
    margin-right: 10px;
  }
  
  .icon {
    font-size: 25px;
    margin-right: 10px;
  }

  .logodiv{
    padding: 10px;
  }
  